{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="container mt-5">

		{% for label, messages in app.flashes %}
			<div class="alert alert-{{ label }} mt-3 container">
				{% for message in messages %}
					{{ message }}
				{% endfor %}
			</div>
		{% endfor %}

		<h1 class="h3 mb-3 font-weight-normal text-center">S'identifier</h1>

		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Vous êtes connecté en tant que
				<strong>{{ app.user.userIdentifier }}</strong>,
				<a href="{{ path('app_logout') }}">Déconnexion</a>
			</div>
		{% endif %}

		<form method="post" class="needs-validation" novalidate>
			<div class="mb-3">
				<label for="username" class="form-label">Email</label>
				<input type="email" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
				<div class="invalid-feedback">
					Veuillez entrer une adresse e-mail valide.
				</div>
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Mot de passe</label>
				<div class="input-group">
					<input type="password" name="_password" class="form-control password" autocomplete="current-password" required>
					<span
						class="input-group-text bg-white">
						<!-- Ajouter les attributs data pour les images d'œil ouvert et fermé -->
						<img src="{{ asset('assets/svg/eye_close.svg') }}" alt="Voir le mot de passe" class="toggle-password" style="cursor: pointer;" data-eye-open="{{ asset('assets/svg/eye.svg') }}" data-eye-close="{{ asset('assets/svg/eye_close.svg') }}">
					</span>
					<div class="invalid-feedback">
						Veuillez entrer un mot de passe valide.
					</div>
				</div>
			</div>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<button class="btn btn-lg btn-success w-100" type="submit">Connexion</button>
			<a class="btn btn-lg btn-primary w-100 mt-2" href="{{ path('app_register') }}">S'inscrire</a>
			<a class="btn btn-link mt-2 w-100 text-center" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
		</form>
	</div>

{% endblock %}
