{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1 class="text-center mb-4">Register</h1>

		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
		<div class="mb-3">
			{{ form_row(registrationForm.email, {
                    'attr': {'class': 'form-control', 'placeholder': 'Entez votre email'}
                }) }}
		</div>
		<div class="mb-3">
			{{ form_row(registrationForm.plainPassword, {
                    'label': 'Mot de passe',
                    'attr': {'class': 'form-control', 'placeholder': 'Enter votre mot de passe'}
                }) }}
		</div>
		<div class="mb-3">
			{{ form_row(registrationForm.nom, {
                    'attr': {'class': 'form-control', 'placeholder': 'Enter votre nom'}
                }) }}
		</div>
		<div class="mb-3">
			{{ form_row(registrationForm.prenom, {
                    'attr': {'class': 'form-control', 'placeholder': 'Enter votre Prenom'}
                }) }}
		</div>
		<div class="mb-3">
			{{ form_row(registrationForm.birthDate, {
        'label': 'Date de naissance',
        'attr': {'class': 'form-control'}
    }) }}
		</div>
		<div class="mb-3 form-check">
			{{ form_row(registrationForm.agreeTerms, {
                    'label': 'J\'accepte les conditions d\'utilisation',
                    'attr': {
                        'class': 'form-check-input'
                    },
                    'label_attr': {
                        'class': 'form-check-label'
                    }
                }) }}
		</div>

		<button type="submit" class="btn btn-primary w-100">S'enregistrer</button>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
