{% extends 'base.html.twig' %}

{% block title %}Youngbrighthing
{% endblock %}

{% block body %}
	<main>
		<div class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				{% for product in products %}
					<div class="carousel-item {% if loop.first %}active{% endif %}" data-bs-interval="500">
						<img src="{{ asset('images/product/' ~ product.imageName) }}" class="d-block w-100" alt="{{ product.name }}">
					</div>
				{% endfor %}
			</div>
			<!-- Texte fixe pour toutes les images -->
			<div class="carousel-caption d-none d-md-block text-black">
				<p class="lead">Élever votre style, briser les codes!</p>
				<a href="{{ path('app_collection_all') }}" class="btn btn-dark btn-lg text-gold">SHOP NOW</a>
			</div>
		</div>

		<!-- Section Capsules -->
		<section class="capsules py-5">
			<div class=" container-fluid">
				<h2 class="text-center mb-4">Capsules</h2>
				<p class="text-center mb-5 mx-auto">
					Troisième histoire de Youngbrighthing, la CAPSULE III déconstruit le costume, s'inspirant d'un univers où les vêtements n'ont plus de limites, laines ajourées, cotons mélangés, mailles déchirées, tissus recyclés, l'idée de vêtement unisexe est toujours présente avec un style brut et urbain, l'élégance et l'esthétique qui rendent chaque pièce unique correspond à toute morphologie.
				</p>
				<div class="d-flex justify-content-center gap-5">
					{% for category in category %}
						<a href="{{ path('app_drop', { name: category.name }) }}" class="text-uppercase btn btn-dark text-gold px-5">
							{{ category.name }}</a>
					{% endfor %}
				</div>
			</div>
		</section>

		<!-- Section Last Drop -->
		<section class="last-drop p-5 bg-dark">
			<div class="container-fluid">
				<h2 class="text-center mb-5 text-gold">Last drop</h2>
				<div class="row g-4">
					{% for product in products|filter(product => 'yes' in product.category|map(category => category.last)) %}
						<div class="col-12 col-lg-4">
							<div class="card h-100">
								<img src="{{ asset('images/product/' ~ product.imageName ) }}" class="card-img-top img-card" alt="Article {{ product.id }}">
								<div class="card-body text-center bg-gray">
									<h5 class="card-title mb-2text-uppercase">{{ product.name }}</h5>
									<div class="text-white mb-2">{{ product.price ~ " €"}}</div>

									{% if product.isSold() %}
                                    <a href="{{ path('app_product', { id: product.id }) }}" class="btn btn-dark text-gold">Voir</a>
                                {% else %}
                                    <button class="btn btn-secondary" disabled>Épuisé</button>
                                {% endif %}
									
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>

		<!-- Section À Propos -->
		<section class="about py-5">
			<div class="container-lg">
				<div class="row g-0">
					<div class="col-md-6 p-4">
						<h2 class="text-center mb-4">Youngbrighthing - Libérer le Style Sans Limites</h2>
						<p class="text-justify">
							Entrez chez Youngbrighthing, où la mode abolit les frontières.CAPSULE III réinvente la tenue, avec des laines ajourées, des coton mélangés et des tissus recyclés. Nos créations unisexes dégagent uneélégance urbaine brute, adaptée à toutes les silhouettes. Découvrez une mode sans limites chez Youngbrighthing.
						</p>
					</div>
					<div class="col-md-6">
						<img src="{{ asset('images/IMG_20240417_172439_073.jpg')}}" alt="À propos de Youngbrighthing" class="img-fluid w-100 h-100 object-fit-cover">
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
