{{ form_start(form) }}

{{ form_row(form.name) }}
{{ form_row(form.description) }}
{{ form_row(form.price) }}
{{ form_row(form.is_sold) }}
{{ form_row(form.size) }}
{{ form_row(form.add_date) }}
{{ form_row(form.category) }}

<button class="btn btn-success m-1">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
