{% extends 'base.html.twig' %}

{% block title %}Index des produits
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Gestion des produits</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Description</th>
					<th>Prix</th>
					<th>Disponible</th>
					<th>Taille</th>
					<th>Date d'ajout</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for product in products %}
					<tr>
						<td>{{ product.id }}</td>
						<td>{{ product.Name }}</td>
						<td>{{ product.Description }}</td>
						<td>{{ product.price ~ ' €' }}</td>
						<td>
							{% if product.isSold %}
								<span class="badge bg-success">Oui</span>
							{% else %}
								<span class="badge bg-danger">Non</span>
							{% endif %}
						</td>
						<td>{{ product.size }}</td>
						<td>{{ product.addDate ? product.addDate|date('d/m/Y') : '' }}</td>
						<td>
							<a href="{{ path('app_admin_product_show', {'id': product.id}) }}" class="btn btn-info">Voir</a>
							<a href="{{ path('app_admin_product_edit', {'id': product.id}) }}" class="btn btn-warning">Modifier</a>
							{{ include('admin/product/_delete_form.html.twig') }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">Aucun produit trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_admin_product_new') }}" class="btn btn-primary m-1">Nouveau produit</a>
	</div>
{% endblock %}
