{% extends 'base.html.twig' %}

{% block title %}Résumé de votre commande{% endblock %}

{% block body %}
<h1>Résumé de votre commande</h1>

{% for label, messages in app.flashes %}
			<div class="alert alert-{{ label }} mt-3 container">
				{% for message in messages %}
					{{ message }}
				{% endfor %}
			</div>
		{% endfor %}

<h3>Numéro de commande : {{ order.id }}</h3>
<p>Date : {{ order.createdAt|date('d/m/Y H:i') }}</p>
<p>
    Statut :
    {% if order.status == 'pending' %}
        En attente
    {% elseif order.status == 'processing' %}
        En cours de traitement
    {% elseif order.status == 'completed' %}
        Terminée
    {% else %}
        Annulée
    {% endif %}
</p>

<table class="table">
    <thead>
        <tr>
            <th>Produit</th>
            <th>Prix</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order.orderItems %}
            <tr>
                <td>{{ item.productName }}</td>
                <td>{{ order.total|number_format(2, ',', ' ') }} €</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Total : {{ order.total|number_format(2, ',', ' ') }} €</h3>

<a href="{{ path('home') }}" class="btn btn-primary">Retour à l'accueil</a>
{% endblock %}